/* ==========================================================================
   Header
   ========================================================================== */
header {
	a, a:visited, a:hover {
		color: $black;
	}
	h1 {
		margin: 0;
		font-size: 1.68em;
		font-weight: 700;
	}
	h2 {
		margin: 0;
		font-size: 1.3em;
		line-height: 0.6em;
	}
	.carey-estes-masthead {
		display: block;
		width: 320px;
		margin: 0 auto;
		text-align: center;
		.carey-estes-logo {
			width: 66px;
			height: 49px;
		}
	}
}

.main-navigation {
	clear: both;
	display: block;
	width: 100%;
	border-bottom: 1px dotted $grey;
	.supersearch-button {
		width: 100%;
		padding: 0.5em 0.5em 0.5em 1.8em;
		border: 0;
		outline: 0;
		background: url(assets/images/icon-sprite.svg) no-repeat 0 center;
		font-family: $georgia;
		font-style: italic;
		text-align: left;
		color: $grey;
	}
}