/* ==========================================================================
   Home Page Template
   ========================================================================== */

body.home {
	.main-navigation {
		width: 320px;
		margin: 1.5em auto;
	}
	.wrapper {
		width: 320px;
		margin: 0 auto;
	}
	figure {
		margin: 0;
	}
	a {
		display: block;
		margin-bottom: 2em;
		padding-bottom: 2em;
		border-bottom: 1px dotted $grey;
		color: $black;
	}
}
