/* Default Typeahead styles */
.supersearchContainer {
  .twitter-typeahead {
    width: 100%;
  }
  .tt-query,
  .tt-hint {
    max-width: 100%;
    outline: none; 
  }

  .tt-query {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }

  .tt-hint {
  }

  .tt-dropdown-menu {
    width: 100%;
    margin-top: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.4);
  }

  .tt-suggestion {
    padding: 6px 6px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.8);
    font-size: 14px;
    line-height: normal;
    }

  .tt-suggestion.tt-cursor {
    color: #fff;
    background-color: #517C96; 
    a {
      color: #fff;
    }
  }

  .tt-suggestion p {
    margin: 0; }

  .azEmptyMessage {
    margin: 0 auto;
    font-weight: bold;
    text-align: center; 
  }
}