/* ==========================================================================
   Variables
   ========================================================================== */

// Structure
$pageWidth: 1024px;

// Text Selection
$selectionColor: orange;

// Colors
$yellow: rgb(253, 226, 90);
$black: #222;
$grey: #777;
$overlay: rgba(0, 0, 0, 0.8);

// Fonts
$anon: 'Anonymous Pro', serif;
$georgia: 'Georgia', Times, serif;
